<section class="min-h-screen flex justify-center py-8">
  <form
    [formGroup]="registerForm"
    (ngSubmit)="submitForm()"
    class="max-w-lg w-full mx-auto space-y-4 bg-white shadow-2xl rounded p-5"
  >
    <header class="flex flex-col items-center gap-1">
      <h1 class="font-bold text-3xl">Register</h1>
      <p class="font-medium">Create your account to continue</p>
    </header>
    <div>
      <label for="name" class="block mb-2.5 text-sm font-medium text-heading">Full Name</label>
      <input
        formControlName="name"
        type="text"
        id="name"
        class="bg-neutral-secondary-medium border border-default-medium text-heading text-sm rounded-base focus:ring-brand focus:border-brand block w-full px-2.5 py-2 shadow-xs placeholder:text-body"
      />
    </div>
    <div>
      <label for="username" class="block mb-2.5 text-sm font-medium text-heading">UserName</label>
      <input
        formControlName="username"
        type="text"
        id="username"
        class="bg-neutral-secondary-medium border border-default-medium text-heading text-sm rounded-base focus:ring-brand focus:border-brand block w-full px-2.5 py-2 shadow-xs placeholder:text-body"
      />
    </div>
    <div>
      <label for="email" class="block mb-2.5 text-sm font-medium text-heading">Email Address</label>
      <input
        formControlName="email"
        type="email"
        id="email"
        class="bg-neutral-secondary-medium border border-default-medium text-heading text-base rounded-base focus:ring-brand focus:border-brand block w-full px-2.5 py-2 shadow-xs placeholder:text-body"
      />
    </div>
    <div>
      <label for="gender" class="block mb-2.5 text-sm font-medium text-heading">Gender</label>
      <select
        formControlName="gender"
        id="gender"
        class="block w-full px-3 py-2.5 bg-neutral-secondary-medium border border-default-medium text-heading text-sm rounded-base focus:ring-brand focus:border-brand shadow-xs placeholder:text-body"
      >
        <option value="">Select Gender</option>
        <option value="male">Male</option>
        <option value="female">Female</option>
      </select>
    </div>
    <div>
      <label for="dateofBirth" class="block mb-2.5 text-sm font-medium text-heading"
        >Date Of Birth</label
      >
      <input
        formControlName="dateOfBirth"
        type="date"
        id="dateofBirth"
        class="bg-neutral-secondary-medium border border-default-medium text-heading text-base rounded-base focus:ring-brand focus:border-brand block w-full px-2.5 py-2 shadow-xs placeholder:text-body"
      />
    </div>
    <div>
      <label for="password" class="block mb-2.5 text-sm font-medium text-heading">Password</label>
      <input
        formControlName="password"
        type="password"
        id="password"
        class="bg-neutral-secondary-medium border border-default-medium text-heading text-base rounded-base focus:ring-brand focus:border-brand block w-full px-2.5 py-2 shadow-xs placeholder:text-body"
      />
    </div>
    <div>
      <label for="repassword" class="block mb-2.5 text-sm font-medium text-heading"
        >Confirm Password</label
      >
      <input
        formControlName="rePassword"
        type="password"
        id="repassword"
        class="bg-neutral-secondary-medium border border-default-medium text-heading text-base rounded-base focus:ring-brand focus:border-brand block w-full px-2.5 py-2 shadow-xs placeholder:text-body"
      />
    </div>
    <button
      type="submit"
      class="w-full bg-blue-600 text-white py-3 rounded-lg hover:bg-blue-700 transition"
    >
      create Account
    </button>
    <div>
      <p class="text-center">
        Already have an account?
        <a routerLink="/login" class="text-blue-600 font-semibold">Login</a>
      </p>
    </div>
  </form>
</section>
