@if (notifications().filter((noti) => !showUnreadOnly() || !noti.isRead).length === 0) {
  <div class="flex flex-col items-center justify-center py-16 px-4 text-center">
    <div class="w-16 h-16 rounded-full bg-gray-100 flex items-center justify-center mb-4">
      <i class="fa-regular fa-bell-slash text-2xl text-gray-400"></i>
    </div>

    <h3 class="text-lg font-semibold text-gray-800">No notifications</h3>

    <p class="text-sm text-gray-500 mt-1">You don't have any notifications here.</p>
  </div>
} @else {
  @for (
    item of notifications().filter((noti) => !showUnreadOnly() || !noti.isRead);
    track item._id
  ) {
    <app-notification-card [notification]="item" />
  }
}
