<section
  class="w-full max-w-4xl mt-4 bg-neutral-primary-soft mx-auto border-default rounded-base shadow-xs p-6"
>
  <div class="">
    <app-post-header [post]="post!" [isShared]="true"></app-post-header>
  </div>
  <div>
    @if (!post.sharedPost) {
      <app-post [post]="post" [footerFlag]="false"></app-post>
    } @else {
      <app-post [post]="post.sharedPost" [footerFlag]="false"></app-post>
    }
  </div>
  <div class="">
    <app-post-footer [post]="post"></app-post-footer>
  </div>
</section>
