<section class="ms-4">
  <hr class="my-2" />
  <div class="">
    <div class="flex justify-between items-center">
      <div class="flex gap-2 my-3 items-center">
        <img src="assets/default-profile.png" class="w-8" alt="" />
        <p class="font-bold">Abdallah Amin</p>
      </div>
      <i class="fa-solid fa-ellipsis-vertical"></i>
    </div>
    <div class="">
      <p class="font-medium px-10">This is my comment</p>
    </div>
    <div class="ms-10 flex gap-2 mt-1">
      <button type="button" class="cursor-pointer">Like</button>
      <span>|</span>
      <button type="button" class="cursor-pointer">Reply</button>
    </div>
  </div>
  <div class=""></div>
</section>
